<section class="section about-section">
    <div class="container">
        <h2 class="section-title about-section__section-title">Преподаватель</h2>
        <div class="about-section__general-box">   
            <picture>
                <source srcset="./images/teachers/teachers-desk@1x.webp 1x, ./images/teachers/teachers-desk@1x.webp 2x"
                media="(min-width: 1344px)" type="image/webp">
                <source srcset="./images/teachers/teachers-desk@1x.jpg 1x, ./images/teachers/teachers-desk@2x.jpg 2x"
                media="(min-width: 1344px)">

                <source srcset="./images/teachers/teachers-tab@1x.webp 1x, ./images/teachers/teachers-tab@1x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/teachers/teachers-tab@1x.jpg 1x, ./images/teachers/teachers-tab@2x.jpg 2x"
                media="(min-width: 768px)">

                <source srcset="./images/teachers/teachers-m@1x.webp 1x, ./images/teachers/teachers-m@1x.webp 2x"
                media="(max-width: 480px)" type="image/webp">
                <source srcset="./images/teachers/teachers-m@1x.jpg 1x, ./images/teachers/teachers-m@2x.jpg 2x"
                media="(max-width: 480px)">
                <img class="about-section__image" src="./images/teachers/teachers-m@1x.jpg" alt="Woman in black dress">
            </picture>
            <div class="about-section__text-box">
                <h3 class="about-section__sub-title">Елена Морева</h3>
                <ul class="about-section__list-box">
                    <li class="about-section__list-item-box">
                        <p class="about-section__list-item">Опыт подготовки учеников к ВНО - 6 лет</p> 
                    </li>
                    <li class="about-section__list-item-box">
                        <p class="about-section__list-item">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
                    </li>
                    <li  class="about-section__list-item-box">
                        <p class="about-section__list-item">Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</p>
                    </li>
                </ul>
                <div class="about-section__line"></div>
                <p class="about-section__text">
                    Высшее образование  получила в Институте международных отношений НАУ по специальности переводчик-аналитик.
                </p>
                <p class="about-section__text">
                    В свободное время  проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений.
                </p>
                <p class="about-section__text about-section__text--wide">
                    В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
                </p>
                <a class="about-section__link" href="" target="_blank">Cambrige English Entry Level Certificate</a>
            </div>
        </div>
    </div>
</section>