<section class="section advantages">
    <div class="container">
        <h2 class="visually-hidden">Преимущества</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__svg-f"></div>
                <div class="advantages__text-f">
                    <p class="advantages__item_text ">
                        Адаптированная авторская программа ВНО
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__svg-m"></div>
                <div class="advantages__text-m">
                    <p class="advantages__item_text second">
                        Современные методики обучения
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__svg-p"></div>
                <div class="advantages__text-p">
                    <p class="advantages__item_text third">
                        Финансовая гарантия результата
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>