<section class="section benefits">
    <div class="container benefits">
        <h2 class="section-title benefits">
            Почему нас выбирают
        </h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Обучение в малых командах</p>
                </div>
            </li>
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Визуализированные конспекты</p>
                </div>
            </li>
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Каждое занятие имеет цель и конкретный результат</p>
                </div>
            </li>
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Реальные результаты преподавателя</p>
                </div>
            </li>
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Прогамма курса соответствует требованиям МОН Украины</p>
                </div>
            </li>
            <li class="benefits__item">
                <div>
                    <p class="benefits__item_text">Набор команд по уровням знаний</p>
                </div>
            </li>
        </ul>
    </div>
</section>