<section class="section contacts">
    <div class="container">
        <h2 id="form" class="section-title contacts">
        Регистрация на <span class="contact-title-s">бесплатную </span>телефонную
        <span class="contact-title-s">консультацию</span> по нюансам ЗНО по английскому языку
        </h2>
        <div class="text-container">
        <p class="contact-form-p">Оставь заявку на участие в <span class="contact-title-s">бесплатном занятии</span>.</p>
            <p class="contact-form-p">С вами свяжется консультант и ответит на вопросы</p>
        </div>
            <form action="" class="contact-form">         
                <input type="text" name="user-name" class="contact-form-input" placeholder="Имя*" pattern="^[a-zA-Z]+$"required >
                <input type="tel" name="user-tel" class="contact-form-input" placeholder="Телефон*" title="0-0-000-0000000" required pattern="[0-9]{1}-[0-9]{1}-[0-9]{3}-[0-9]{7}" >
                <button type="submit" class="contact-form-button">хочу на бесплатное занятие</button>
            </form>
    </div>
</section>