<section class="guarantee section">
    <h2 class="title">Мы гарантируем</h2>
    <div class=" container">
         <ul class="guarantee_list">
            <li class="guarantee_item">
                <p class="guarantee_text">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span class="guarantee_text_accent">*</span></p>
            </li>
            <li class="guarantee_item">
                <p class="guarantee_text">Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="guarantee_text_accent"> В то время как 20% учеников получили за сочинение 0.</span></p>
            </li>
            <li class="guarantee_item">
                <p class="guarantee_text">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
            </li>
            <li class="guarantee_item">
               <p class="guarantee_text">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</p>
            </li>        
        </ul>
    </div>
</section>

