<header class="header">
    <div class="container">
        <a class="logo_black">
            <svg class="logo_icon_svg">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="button_menu_open" type="button" data-menu-open>
            <svg class="button_menu_svg">
                <use href="./images/icons.svg#icon-mobile-menu-open" ></use>
            </svg>
        </button>
        <div class="menu_wriper" data-menu>
            <div class="menu_wriper_container">
                <div class="logo_wriper_close">
                    <a class="logo_white">
                        <svg class="logo_icon_svg">
                            <use href="./images/icons.svg#icon-logo-second"></use>
                        </svg>
                    </a>
                    <button class="button_menu_close" type="button" data-menu-close>
                        <svg class="button_menu_svg">
                            <use href="./images/icons.svg#icon-mobile-menu-close"></use>
                        </svg>
                </div>
                <nav class="navi">
                    <ul class="navi_list">
                        <li class="navi_list">
                            <a class="navi_link">Программа обучения</a>
                        </li>
                        <li class="navi_list">
                            <a class="navi_link current">О нас</a>
                        </li>
                        <li class="navi_list">
                            <a class="navi_link">Варианты обучения</a>
                        </li>
                        <li class="navi_list">
                            <a class="navi_link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <button class="modal_button" type="button">Консультация по телефону</button>
            </div>    
            </div>
    </div>
</div> 
</header>