<header class="header">
    <div class="container">
        <a class="logo black" href="./index.html">
            <svg class="logo_icon_svg">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="button_menu open" type="button" data-mobile-menu-open>
            <svg class="button_menu_svg">
                <use href="./images/icons.svg#icon-mobile-menu-open" ></use>
            </svg>
        </button>
        <div class="menu_wriper" data-mobile-menu>
            <div class="menu_wriper_container">
                <div class="menu_wriper_close">
                    <a class="logo white" href="#">
                        <svg class="logo_icon_svg">
                            <use href="./images/icons.svg#icon-logo-second"></use>
                        </svg>
                    </a>
                    <button class="button_menu close" type="button" data-mobile-menu-close>
                        <svg class="button_menu_svg">
                            <use href="./images/icons.svg#icon-mobile-menu-close"></use>
                        </svg>
                </div>
                <nav class="navi">
                    <ul class="navi_list">
                        <li class="navi_item">
                            <a class="navi_link" href="#program">Программа обучения</a>
                        </li>
                        <li class="navi_item">
                            <a class="navi_link current" href="./index.html">О нас</a>
                        </li>
                        <li class="navi_item">
                            <a class="navi_link" href="#how-we-do">Варианты обучения</a>
                        </li>
                        <li class="navi_item">
                            <a class="navi_link" href="#footer">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>
        <button class="modal_button" type="button">Консультация по телефону</button>
    </div>
</div> 
</header>