<section id="program" class="section program">
  <div class="container">
    <h2 class="program section-title">Наша программа</h2>
    <ul class="study-program">
      <li class="semestr">
        1 CЕМЕСТР
        <div class="moduls-container">
          <ul class="moduls">
            <li class="modul">
              Grammar
              <ul class="topics">
                <li class="topic">Nouns & Articles</li>
                <li class="topic">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="modul">
              Vocabulary
              <ul class="topics">
                <li class="topic">Family & Relations</li>
                <li class="topic">People & Society</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="semestr">
        2 CЕМЕСТР
        <div class="moduls-container">
          <ul class="moduls">
            <li class="modul">
              Grammar
              <ul class="topics">
                <li class="topic">Pronouns</li>
                <li class="topic">Active Voice</li>
                <li class="topic">Passive Voice</li>
              </ul>
            </li>
            <li class="modul">
              Vocabulary
              <ul class="topics">
                <li class="topic">Home</li>
                <li class="topic">School</li>
                <li class="topic">Work</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="semestr">
        3 CЕМЕСТР
        <div class="moduls-container">
          <ul class="moduls">
            <li class="modul">
              Grammar
              <ul class="topics">
                <li class="topic">Modal verbs</li>
                <li class="topic">Infinitive</li>
                <li class="topic">Gerund</li>
                <li class="topic">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="modul">
              Vocabulary
              <ul class="topics">
                <li class="topic">Travel & Tourism</li>
                <li class="topic">Culture & Free Time</li>
                <li class="topic">Sport</li>
              </ul>
            </li>
            <li class="modul">
              Writing
              <ul class="topics">
                <li class="topic">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="semestr">
        4 CЕМЕСТР
        <div class="moduls-container">
          <ul class="moduls">
            <li class="modul">
              Grammar
              <ul class="topics">
                <li class="topic">Clauses: Conditional and Wishes</li>
                <li class="topic">Direct / Reported speech</li>
                <li class="topic">Preposition</li>
                <li class="topic">Conjunction</li>
                <li class="topic">Numeral</li>
              </ul>
            </li>
            <li class="modul">
              Vocabulary
              <ul class="topics">
                <li class="topic">Healthy Living</li>
                <li class="topic">Nature & Environment</li>
                <li class="topic">Money</li>
              </ul>
            </li>
            <li class="modul">
              Writing
              <ul class="topics">
                <li class="topic">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="semestr">
        5 CЕМЕСТР
        <ul class="moduls">
          <li class="modul">
            <ul class="topics">
              <li class="topic">Revision</li>
              <li class="topic">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
