.section.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section.contacts {
  max-width: 1680px;
  background-image: url('../images/contacts/contacts-m.png');

  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 15%;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section.contacts {
    background-image: url('../images/contacts/contacts-m@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .section.contacts {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-block {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.section-title.contacts {
  font-weight: 800;
  color: $secondary-color;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 3%;
  text-align: center;
  width: 280px;
  height: 70px;
  margin-bottom: 30px;
}

// .section.contacts{

//     background-color: #111518;
//     background-image:
//     url(../images/contacts/class-room1xD.png);
//     background-repeat: no-repeat ;
//     background-size:cover;

// }

.contact-title-s {
  color: $accent-color;
}
.contact-form-p {
  font-weight: 600px;
  color: $secondary-color;
  text-align: center;
  width: 280px;
}
.text-container {
  margin-bottom: 30px;
}
.contact-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  color: $secondary-color;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contact-form-input {
  outline: none;
  width: 280px;
  height: 48px;
  padding-left: 20px;
  color: $secondary-color;
  background-color: #111518;
  border: 1px solid $secondary-color;
  margin-bottom: 20px;
  background-color: transparent;
}

.contact-form-input:valid {
  border-color: $secondary-color;
}

.contact-form-input:invalid {
  border-color: red;
}
.contact-form-input:placeholder-shown {
  border-color: $secondary-color;
}
.contact-form-button {
  width: 260px;
  height: 50px;
  color: $secondary-color;
  background-color: $accent-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-top: 30px;
  border: none;
}
@media screen and (min-width: 768px) {
  .text-container {
    margin-bottom: 40px;
  }
  .section-title.contacts {
    width: 688px;
    height: 100px;
    font-size: 26px;
  }
  .contact-form-p {
    width: 450px;
    font-size: 14px;
    margin-bottom: -5px;
  }
  .contact-form-input {
    width: 390px;
    height: 48px;
  }
  .contact-form-button {
    width: 260px;
    height: 50px;
    margin-top: 10px;
  }

  .section.contacts {
    background-image: url('../images/contacts/contacts-tab.png');
    background-position: 80% 15%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section.contacts {
      background-image: url('../images/contacts/contacts-tab@2x.png');
    }
  }
}

@media screen and (min-width: 1344px) {
  .section.contacts {

    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url('../images/contacts/contacts-desk.png');
    background-position: 23% 51%;;
    background-size: auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section.contacts {
      background-image: url('../images/contacts/contacts-tab@2x.png');
    }
  }

  .section-title.contacts {
    width: 1090px;
    height: 178px;
    font-size: 46px;
  }
  .section.contacts {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-container {
    margin-bottom: 55px;
  }
  .contact-form-p {
    width: 1090px;
    font-size: 30px;
  }
  .contact-form-input {
    width: 480px;
    height: 70px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact-form-button {
    width: 355px;
    height: 70px;
    margin-top: 50px;
  }
}
