.footer {
  padding-top: 30px;
  background: linear-gradient(to bottom, $secondary-color 70%, #111518 30%);

  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, $secondary-color 64%, #111518 36%);
    padding-top: 0;
  }

  @media screen and (min-width: 1344px) {
    background: linear-gradient(to bottom, $secondary-color 68%, #111518 32%);
    padding-top: 0;
  }
}



.contacts-block {
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1344px) {
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.logo-footer {
    color: #111518;
    
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.address-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    position: relative;
  }

  @media screen and (min-width: 1344px) {
    margin-left: 290px;
  }
}
.contacts-phone {
    font-style: normal;
}
.contacts-phone {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    margin-right: 48px;
    font-size: 20px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 1.23;
  }

  .contacts-link {
    color: #111518;
    transition: 250ms ;

    &:hover {
      color: #FF6B09;
    }
  }
}

.contacts-icon {
  vertical-align: middle;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }

  @media screen and (min-width: 1344px) {
    width: 30px;
    height: 30px;
  }
}

.instagram-link {
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

.instagram-link::before {
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
    border-left: 1px solid#B9B9B9;
    height: 40px;
    position: absolute;
    right: 64px;
  }
}


.copy-text {
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  color: #B9B9B9;

  @media screen and (max-width: 320px) {
      font-size: 14px;
      line-height: 2;

      display: flex;
      justify-content: center;

      color: #B9B9B9;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}



.logo-footer>.logo-flex {
  display: flex;
  align-items: center;
  color: #111518;

  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.21;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

.logo-footer .logo-icon {
  display: inline-block;
  background-image: url(../images/icon-flame.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 20px;
  text-align: left;

  margin-left: 3px;
  margin-right: 3px;

  @media screen and (min-width: 768px) {
    width: 21px;
    height: 30px;

    margin-left: 4px;
    margin-right: 3px;
  }
}

.logo-footer>p {
  display: block;
  font-size: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.25em;
  text-align: left;
  margin-top: 3px;

  @media screen and (min-width: 768px) {
    font-size: 8px;
    letter-spacing: 0.13em;
  }
}

.logo-orange {
  @media screen and (min-width: 768px) {
    color: #FF6B09;
  }
}