.footer {
  padding-top: 30px;
  background: linear-gradient(to bottom, $secondary-color 74%, #111518 26%);

  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, $secondary-color 64%, #111518 36%);
    padding-top: 0;
  }

  @media screen and (min-width: 1344px) {
    background: linear-gradient(to bottom, $secondary-color 71%, #111518 29%);
    padding-top: 0;
  }
}

.footer-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media screen and (min-width: 1344px) {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-top: 40px;
      padding-bottom: 40px;
    }
}

.contact-block {
  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1344px) {
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.logo-footer {
    color: #111518;
    
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.address-wrap {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: auto;
  }

  @media screen and (min-width: 1344px) {
    margin-left: 290px;
  }
}
.contact-phone {
    font-style: normal;
}
.contact-phone {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    margin-right: 48px;
    font-size: 20px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 1.23;
  }

  .contact-link {
    color: #111518;
    transition: 250ms ;

    &:hover {
      color: #FF6B09;
    }
  }
}

.contact-icon {
  vertical-align: middle;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }

  @media screen and (min-width: 1344px) {
    width: 30px;
    height: 30px;
  }
}

.instagram-link {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.instagram-link::before {
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
    border-left: 1px solid#B9B9B9;
    height: 40px;
    position: absolute;
    right: 64px;
    
  }
}


.copy-text {
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  color: #B9B9B9;

  @media screen and (max-width: 320px) {
      font-size: 14px;
      line-height: 2;

      display: flex;
      justify-content: center;

      color: #B9B9B9;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.copy-block {
  @media screen and (min-width: 1344px) {
    margin: 0 auto;
  }
}



.logo-footer>.logo-flex {
  display: flex;
  align-items: center;
  color: #111518;

  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.21;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

.logo-footer .logo-icon {
  display: inline-block;
  background-image: url(../images/icon-flame.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 20px;
  text-align: left;

  margin-left: 3px;
  margin-right: 3px;

  @media screen and (min-width: 768px) {
    width: 21px;
    height: 30px;

    margin-left: 4px;
    margin-right: 3px;
  }
}

.logo-footer>p {
  display: block;
  font-size: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.25em;
  text-align: left;
  margin-top: 3px;

  @media screen and (min-width: 768px) {
    font-size: 8px;
    letter-spacing: 0.13em;
  }
}

.logo-orange {
  @media screen and (min-width: 768px) {
    color: #FF6B09;
  }
}



// @media screen and(min-width: 480px) {
.instagram-link {
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    position: relative;
    // transform: translateX(10%);
    
    
}

.item1 {
  width: 10px;
  height: 50px;
  background: linear-gradient(to right, transparent, White, transparent);
  z-index: 1;
  position: relative;
  animation: move 2s linear 1s infinite alternate;
  
  
  }

@keyframes move {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}

.item1 {
  @media screen and(max-width: 769px) {
    width: 10px;
    height: 50px;
    background: linear-gradient(to right, transparent, White, transparent);
    z-index: 1;
    position: absolute;
    animation: move 2s linear 1s infinite alternate;
    margin: -43px auto;
    /* padding: 0px; */
    margin-left: 120px;
    ;
  }
} 
