.section-program  {
    height: 2050px;
    background: #111518;
}
.section-title{
    color:$secondary-color;
    padding: 50px 20px;

}
.study-program{
        padding-left: 120px;
    
}

.semestr {
    position:relative;
    padding-left: 30px;
    color:$secondary-color;
    font-weight: 700;
    margin-bottom: 5px;
    &:not(:last-child){
    border-left: 1px solid $secondary-color;
}
      
}
.semestr::before{
    position:absolute;
    top:-1%;
    left:-6px;
    display: block;
    content:"";
    width: 12px;
    height: 12px;
    margin-right: 80%px;
    background-image: url(../images/Ellipse-orange.svg);
    background-image:no repeat ;
    background:cover;
    align-items: center;
}

.modul{
    padding-top: 5px;
    color:$accent-color;
    font-weight: 700;
}

.modul::before{
    display: inline-block;
    content:"";
    height:1px;
    width: 12px;
    background-color: $accent-color;
    margin-bottom: 3px;
    margin-right: 6px;
        
}
    
.topic{
    position: relative;
    padding-top: 5px;
    color:$main-text-color;
    font-weight: 500;
}
.picture-img{
    margin-left: auto;
    
}

@media screen and (min-width: 768px) {
    .section-program{
        height:1355px;
        max-width: 100%;
    }
    .section-title{
        margin-right: 55%;
        padding: 50px 20px;
    }
    .study-program{
        padding-left:10%;
    }
    .moduls-container{
        display:flex;
        justify-content:flex-start;
        align-items: center;
       
    }  
    .moduls{
        display: flex;
        justify-content:stretch;                    
    } 
    .modul{
        
        margin-right: 50px;
    }
    .picture-img{
        margin-left: auto;
           
    }


    
}    
@media screen and (min-width: 1344px) {
    .section-program{
        height:1237px;
        max-width: 100%;
    }
    .study-program {
        display:flex;
        border-top:1px solid $secondary-color;
    }
    .moduls{
        
        flex-direction: column;
    }
    .semestr{
               
        padding-top: 3%;
    }
    .semestr::before{
        top:-2%;
        left:26px;
    }
    .semestr:not(:last-child) {
        border-left:0;
        
        
    }
    .picture-img{
        margin-left:0%;
                  
    }

}